# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Logs
*.log

# IDE/Editor
.vscode/
.idea/

# System files
.DS_Store

# Model files (agar bahut heavy hain to ignore karo)

